<a href="https://colab.research.google.com/github/Ayosalau/Binary-Classification-using-Python/blob/main/Loading_and_Exploring_Cassification_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter03/bank-full.csv'
                                                # Loading the data using pandas
bankdata = pd.read_csv(file_url, sep=";")
bankdata.head()
                                                # Printing the shape of the data 
print(bankdata.shape)
                                                # Summarizing the statistics of the numerical raw data
bankdata.describe()

(45211, 17)

                age        balance  ...         pdays      previous
count  45211.000000   45211.000000  ...  45211.000000  45211.000000
mean      40.936210    1362.272058  ...     40.197828      0.580323
std       10.618762    3044.765829  ...    100.128746      2.303441
min       18.000000   -8019.000000  ...     -1.000000      0.000000
25%       33.000000      72.000000  ...     -1.000000      0.000000
50%       39.000000     448.000000  ...     -1.000000      0.000000
75%       48.000000    1428.000000  ...     -1.000000      0.000000
max       95.000000  102127.000000  ...    871.000000    275.000000

[8 rows x 7 columns]